.footer{
  width: 100%;
  background: black;
  padding-top: 38px;
  padding-bottom: 47px;
  display: flex;
  justify-content: center;

  &__wrapper{
    padding-right: 35px;
    padding-left: 35px;
  }

  &__title{
    @include title;
    color: #FEFEFE;
    margin-bottom: 8px;
    text-align: center;
  }

  &__text{
    font-size: 12px;
    line-height: 20px;
    color: $color-text;
    text-align: center;
  }

  &__social-icons{
    margin-bottom: 25px;
    margin-top: 26px;
    text-align: center
  }

    &__contacts{
    font-size: 14px;
    line-height: 24px;
    color: $color-text;
    text-align: center;

  }
}