.posts{
  margin-top:38px;

  &__title{
    @include title;
    margin-bottom: 23px;
    }

  &__wrapper {
    margin-bottom: 28px;

    &.show{
      display: none;
    }
  }

  &__img{
    display: block;
    max-width: 160px;
    max-height: 140px;
    width: 100%;
  }

  &__subtitle{
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: #4E4E4E;
    margin-top: 6px;
  }

  &__text{
    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;
  }

  &__paragraph{
    display: none;
  }

}