.shots{
  margin-top: 77.5px;
  margin-bottom: 42px;

&__wrapper{
  padding-left: 25px;
  padding-right: 28px;
}
  &__title{
    @include title;
    margin-bottom: 13px;
  }

  &__text{
    display: none;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E
  }

  &__img{
    max-width: 301px;
    max-height: 301px;
    width: 100%;
    display: block;

    &.show, &.show_last{
      display: none;
    }
  }
  }
