@media screen and (max-width: 767px) and (min-width: 321px) {
  .container{
    max-width: 767px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .container{
    max-width: 1199px;
    position: relative;
    margin: 41px 92px 0 80px;
  }

  .header {
    margin-left: 84px;
    margin-right: 75px;
    max-width: 100%;

    &__nav-btn {
      display: none;
    }

    &__dropdown{
      display: flex;
      position: static;
      background: none;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }

    &__menu-list{
      padding: 0;
    }

    &__img{
      margin-top: 43px;
    }
  }
}


@media screen and (min-width: 1200px){

  .container{
    max-width: 1200px;
    position: relative;
    margin: 45px 215px 0 215px;
  }

  .header {
    margin-left: 84px;
    margin-right: 75px;
    max-width: 100%;

    &__nav-btn {
      display: none;
    }

    &__dropdown{
      display: flex;
      position: static;
      background: none;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }

    &__menu-list{
      padding: 0;
    }

    &__img{
      margin-top: 51px;
    }
  }

}